{% extends 'base.html.twig' %}
{%  block title %}
    Oops!
{% endblock %}
{% block body -%}

    <div class="panel panel-color panel-red">
        <div class="panel-heading">
            <div class="panel-title">ACCESO DENEGADO (403)</div>
        </div>
        <div class="panel-body">
            <p>LO SENTIMOS! Usted no está autorizado para ver esta página, si es incorrecto, contacte al administrador.</p>
            <br>
            <a href="{{ path('homepage') }}" class="btn-sm btn-primary">Volver</a>
        </div>
    </div>
{% endblock %}