{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('company_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-briefcase"></i> Creación de Empresa</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i> Data Crédito</a>
        </div>
    </div>
    <div class="row text-center">
        <h1>Solicitudes Realizadas</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include 'company/index.html.twig' %}
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .btn{
            width: 100%;
            color: gray;
            padding: 20px 26px;
            font-size: 2em;
            cursor: pointer;
        }
    </style>
{% endblock %}
