{% extends "base.html.twig" %}

{% block body %}
<script type="text/javascript">
    $(document).ready(function($)
    {
        $('#fos_user_registration_form_entidadId').css('display', 'none');
        $('#lblEntity').css('display', 'none');
        $('#fos_user_registration_form_grupoPracticaId').css('display', 'none');
        $('#lblGP').css('display', 'none');

        $('#fos_user_registration_form_roles').on('change', function(){
            if($('#fos_user_registration_form_roles').val() == 'ROLE_BANK')
            {
                $('#fos_user_registration_form_entidadId').css('display', 'block');
                $('#lblEntity').css('display', 'block');
            }else{
                $('#fos_user_registration_form_entidadId').css('display', 'none');
                $('#lblEntity').css('display', 'none');
            }
            if($('#fos_user_registration_form_roles').val() == 'ROLE_LAWYER')
            {
                $('#fos_user_registration_form_grupoPracticaId').css('display', 'block');
                $('#lblGP').css('display', 'block');
            }else{
                $('#fos_user_registration_form_grupoPracticaId').css('display', 'none');
                $('#lblGP').css('display', 'none');
            }

        });

    });
</script>
    <div class="page-title">

        <div class="title-env">
            <h1 class="title">Registrarse</h1>
            <p class="description">Nuevo Usuario</p>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1" >
                <li>
                    <a href="{{ path('homepage') }}"><i class="fa-home"></i>Home</a>
                </li>
                <li class="active">

                    <strong>Registrarse</strong>
                </li>
            </ol>

        </div>

    </div>

    <div class="panel panel-default">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock %}
